%transition-all {
  transition: all .3s;
}

.fadeIn {
  animation: fadeIn 1s linear;
}

.fadeInTop {
  animation: fadeInTop 1s linear;
}

// Keyframes
// ==================
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes slideOut {
  to {
    opacity: 0;
    transform: translateY(5px);
  }
}