// Conteneur
// ==================
:root {
  --container-padding: 20px;
  --container-width: calc(100vw - var(--container-padding) * 2);
  --container-width-md: calc(100vw - var(--container-padding) * 2);
}

@media only screen and (min-width: 900px) {
  :root {
    --container-padding: 32px;
    --container-width: 768px;
    --container-width-md: 540px;
  }
}

@media only screen and (min-width: 1370px) {
  :root {
    --container-padding: 20px;
    --container-width: 992px;
  }
}


// Container
// ==============
%container,
.container {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width) / 2);
  padding-right: calc(50% - var(--container-width) / 2);
}
%container-md,
.container-md {
  box-sizing: border-box;
  width: 100%;
  padding-left: calc(50% - var(--container-width-md) / 2);
  padding-right: calc(50% - var(--container-width-md) / 2);
}

%flex-center,
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  margin-top: 3rem;
  @include up(768){
    margin-top: 7rem;
  }
}
