body {
  font-family: $font;
  font-size: 16px;
  color: var(--color);
  line-height: 1.6;
  background: var(--background);
  min-height: 100vh;
  //scroll-margin: 100px 0 0 0;
  word-break: break-word;
  overflow-x: hidden;
  max-width: 100vw;
}

body.light {
  background: var(--background-light);

  a {
    color: var(--color-accent);
    transition: all .3s;
    text-decoration: none;
  }
  a:hover {
    color: var(--color-accent);
    transition: all .3s;
  }
}

p {
  color: var(--color-light);
}

a {
  color: var(--link-color);
  transition: all .3s;
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: var(--link-color-hover);
  transition: all .3s;
}

::selection {
  color: var(--background-light);
  background: var(--color-accent);
}

.text-center {
  text-align: center!important;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 3px;
}

/* Scrollbar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}