@import "variables";
@import "reset";

/* Modules */
@import "styles/modules/switch";

body, body.theme-dark {
  --container: $container;
  --container-width: $container-width;
  --container-padding: $container-padding;
  --padding-section: 2em;
  --spacing: 8;
  --color-primary: #d5d5d5;
  --color-secondary: #4b76e5;
  --color-accent: #e76161;

  --text-color: #d5d5d5;
  --text-color-default: #d5d5d5;
  --text-color-secondary: #4b76e5;
  --text-color-accent: #e76161;

  --border-color: #3d3d3d;

  --background-color: #242424;
  --background-primary: #d5d5d5;
  --background-seconadry: #4b76e5;
  --background-accent:  #e76161;

  --card-background-color: #2d2c2c;
  --card-text-color: #d5d5d5;

  transition: background-color .2s;
}

body.theme-light {
  --background-color: "#fff";
  --text-color: #171616;
  --border-color: #cfcfcf;
  --card-background-color: #fff;
  --card-text-color: #171616;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  color: #e76161;
}

.sectionTitle {
  line-height: 1.15;
  font-size: 2.5rem;
  color: #e76161;
  text-align: center;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}