@import "variables";
@import "reset";
@import "../mixins/mixins";

@import "../modules/buttons";

.container {
  max-width: var(--container);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  color: #e76161;
}

.sectionTitle {
  line-height: 1.15;
  font-size: 2.5rem;
  color: #e76161;
  text-align: center;
}
