@import "variables";
@import "reset";

@import "../modules/buttons";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--container);
  margin: 0 auto;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  color: #e76161;
}

@media (max-width: 960px) {
  .container {
    padding: 0 15px;
  }
}
