.works ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: space(2);

  @include up($breakpoint-sm) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: space(3);

    & .card-works {
      filter: brightness(.8);
      transition: all .3s;
    }
    & .card-works:hover {
      transition: all .3s;
      filter: brightness(1);
    }
  }
}