.works ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: space(2);
  min-height: 100vh;

  .card-works {
    width: 100%;
    height: 100%;
    background-color: var(--card-bg-color);
    border-radius: 1rem;
    box-shadow: 0 10px 24px -15px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
  }

  .card-works a {
    margin: 0;
    color: var(--card-text-color);
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-works .title {
    margin-top: 1.4rem;
    margin-bottom: 1rem;
  }

  .card-works img {
    border-radius: .5rem;
    transform: scale(1);
    transition: all .3s;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


  @include up($breakpoint-sm) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: space(5);

    & .card-works {
      transition: all .3s;
    }

    // & .card-works:hover {
    //   transition: all .3s;
    //   background-color: var(--card-hover-bg-color);
    // }

    & .card-works:hover img {
      transition: all .3s;
      transform: scale(1.02);
    }
  }
}