@import '../../mixins/mixins';

.skills {
  padding: var(--padding-section) 0;
}
.skills .logoList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 760px;
  margin: auto;
}
.skills .logoList ul li {
  margin: 32px;
}
.skills .logoList .logo {
  object-fit: cover;
  filter: grayscale(100);
  transition: filter .3s;
}
.skills .logoList .logo:hover {
  object-fit: cover;
  filter: grayscale(0);
  transition: filter .3s;
}