$breakpoint-xs: 0;
$breakpoint-sm: 600;
$breakpoint-md: 960;
$breakpoint-lg: 1280;
$breakpoint-xl: 1920;

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// Responsive
// ==================
@mixin up($size) {
  $size: strip-unit($size);
  @media (min-width: $size * 1px) {
    @content;
  }
}
@mixin down($size) {
  $size: strip-unit($size);
  @media (max-width: $size * 1px) {
    @content;
  }
}
@mixin between($down, $up) {
  $down: strip-unit($down);
  $up: strip-unit($up);
  @media (min-width: $down * 1px) and (max-width: $up * 1px) {
    @content;
  }
}

.title {
  color: var(--text-color-accent);
}

// Espacement
// ==================
@mixin container($width: 1200px, $padding: 16px) {
  width: 100%;
  padding-left: $padding;
  padding-right: $padding;
  margin: 0 auto;

  @include up($width + 2 * $padding) {
    padding-left: calc(50vw - #{$width / 2});
    padding-right: calc(50vw - #{$width / 2});
  }
}