.btn {
  text-decoration: none;
  color: var(--color);
  transition: all .3s;
  font-weight: 500;
  font-weight: 600;

  &:hover {
    color: var(--btn-primary-color);
  }
}

%btn-default {
  border-radius: 5px;
  display: inline-block;
  min-width: 130px;
  text-align: center;
  padding: space(1) space(2);
  text-transform: uppercase;
}

.btn-primary {
  @extend %btn-default;
  border: solid 2px var(--btn-primary-border-color);
  background-color: var(--btn-primary-bg-color);
  color: #fff;

  &:hover {
    border: solid 2px var(--btn-primary-border-color-hover);
    background: var(--btn-primary-bg-color-hover);
    color: var(--btn-primary-color);
  }
}

.btn-secondary {
  @extend %btn-default;
  border: solid 2px var(--btn-secondary-border-color);
  background-color: var(--btn-secondary-bg-color);
  color: var(--btn-secondary-color);
  box-shadow: 5px 5px 0 var(--btn-secondary-border-color-hover);
  transform: translate(-2px, -2px);
  
  &:hover {
    transform: translate(0, 0);
    color: var(--btn-secondary-color);
    box-shadow: 0px 0px 0 var(--btn-secondary-border-color-hover);
  }

  &:focus {
    transform: scale(0.98);
  }
}

.btn-rounded {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-light);
  cursor: pointer;
}

.shadow {
  box-shadow: 0 10px 24px -15px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
}