.card {
  padding: space(2);
  text-align: left;
  text-decoration: none;
  border-radius: 10px;
  color: var(--card-text-color);
  background-color: var(--card-bg-color);
  box-shadow: 0 10px 24px -15px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
  transition: all .3s;
  position: relative;
  z-index: 1;

  &:hover,
  &:focus,
  &:active {
    transform: translateY(2px);
    transition: all .3s;
  }
}
.cardTitle {
  margin-top: 10px;
  font-size: 1.15em;
  font-weight: bold;
  color: var(--text-color);
}
.cardContent {
  margin-top: 10px;
}
.cardDate {
  font-size: .9rem;
  margin-top: 10px;
}
.cardLogo {
  width: 150px;
}

.card.rainbow {
  border: 5px solid transparent;
  border-image: linear-gradient(149deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  border-image-slice: 1;
}