.experiencesContainer {
  margin: 30px auto;
  width: 100%;
  max-width: 960px;
}

.experiencesList {
  position: relative;
}

.experiencesList::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  width: 3px;
  transform: translateX(calc(-3px/2));
  height: 100%;
  background: linear-gradient(149deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
  opacity: .2;
}

.experiencesListTitle {}

.experiencesListItem {
  position: relative;
}

.experiencesListItem::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  margin: auto 0;
  border-radius: 50%;
  background-color: var(--background-color);
  border: solid 2px var(--background-accent);
  transform: translateX(-50%);
  transition: all .3s;
}

.experiencesListItem:hover::before {
  transition: all .3s;
  background-color: var(--background-accent);
}

.dateItem {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  max-width: 50%;
  text-align: left;
  padding-left: 30px;
}

.card-experience {
  margin: 1rem 0 1rem 1rem;
  border: 2px solid transparent;
  border-image: linear-gradient(149deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
  border-image-slice: 1;
}


@include up(600) {
  .experiencesList::before {
    margin: auto;
  }

  .experiencesListItem::before {
    width: 20px;
    height: 20px;
    margin: auto;
    transform: translate(-2px);
  }

  .dateItem {
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 50%;
    text-align: right;
    padding-right: 30px;
    padding-left: 0;
  }

  .card-experience {
    max-width: 45%;
    margin: 0;
    padding: 2rem;
  }

  .card-experience.cardRight {
    margin-left: auto;
  }

  .card-experience ul li {
    list-style-type: disc;
    margin-left: 1rem;
  }
}