.header {
  position: relative;
  padding: 0 space(2);

  .navigation {
    display: flex;
    gap: 0.5rem;
    padding: space(2) 0;
  }

  @include up(600) {
    display: flex;
    justify-content: space-between;
  }
}