// Introduction
// ==================
.introduction {
    padding-top: 4rem;
    @include up($breakpoint-sm){
      padding-top: 10rem;
    }
}

.introduction .introduction-image {
    margin: auto;
    margin-bottom: space(3);
    text-align: center;
}

.introduction .introduction-image img {
    border-radius: 15px;
}

.introduction .introduction-content {
    margin: auto;
}

.introduction .subtitle {
    margin-bottom: .5rem;
    margin-top: 0;
}

.introduction .btns-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

@include up(768) {
    .introduction {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    .introduction .introduction-content {
        max-width: 550px;
    }

    .introduction .introduction-image {
        display: block;
    }

    .introduction .introduction-image svg {
        text-align: center;
    }

    .introduction .btns-container {
        gap: 2rem;
    }
}