.works-section {
  .work-content {
    margin: space(3) 0;
    max-width: 650px;
  }

  a {
    display: inline-block;
    margin-top: space(2);
    margin-bottom: space(2);
  }

  .latest-works-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .work-1 {}
  .work-2 {}
}