// Skills
// ==================
.skills {}

.skills .logo-list ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}

.skills .logo-list ul li div {
    background-color: var(--card-bg-color);
    @extend .flex-center;
}

.skills .logo-list ul li img {
    object-fit: contain;
}

@include up($breakpoint-sm) {
    .skills .logo-list ul {
        grid-template-columns: repeat(5, 1fr);
    }
}

@include up($breakpoint-md) {
    .skills .logo-list ul {}

    .skills .logo-list ul {
        grid-template-columns: repeat(8, 1fr);
    }
}

.skillsList li {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-accent);
    box-shadow: 5px 5px 0 #744040;
    color: #fff;
    text-shadow: 2px 2px 2px #744040;
    margin: 10px;
    font-weight: 500;
}