// Introduction
// ==================
.introduction {
    padding-top: 4rem;

    @include up($breakpoint-sm) {
        padding-top: 10rem;
    }
}

.introduction .introduction-image {
    margin: auto;
    margin-bottom: space(3);
    text-align: center;
}

.introduction .introduction-image img {
    border-radius: 15px;
}

.introduction .introduction-content {
    margin: auto;
}

.introduction .subtitle {
    margin-bottom: .5rem;
    margin-top: 0;
    background: linear-gradient(149deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.introduction .btns-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
}

@include up(768) {
    .introduction {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    .introduction .introduction-content {
        max-width: 550px;
    }

    .introduction .introduction-image {
        display: block;
    }

    .introduction .introduction-image svg {
        text-align: center;
    }

    .introduction .btns-container {
        gap: 2rem;
    }
}