.works-carousel {
  .works-container {
    display: flex;
    overflow-x: scroll;
    padding-left: calc(50% - var(--container-width) / 2);
    padding-bottom: 2rem;

    & li:first-child {
      margin-left: 10vw;
    }
  }

  .card-works {
    width: 70vw;
    height: 100%;
    margin-right: space(3);
    background-color: var(--card-bg-color);
    border-radius: 1rem;
    box-shadow: 0 10px 24px -15px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
  }

  .card-works a {
    margin: 0;
    padding: 1rem;
    color: var(--card-text-color)
  }

  .card-works .title {
    margin-top: 1.4rem;
    margin-bottom: 1rem;
  }

  .card-works img {
    border-radius: .5rem;
    transform: scale(1);
    transition: all .3s;
  }

  .card-works:hover img {
    transform: scale(1.02);
    transition: all .3s;
  }

  @include up(600) {
    .works-container {}

    .card-works {
      width: 350px;
    }
  }
}