.works-carousel {
  .works-container {
    display: flex;
    overflow-x: scroll;
    padding-left: calc(50% - var(--container-width) / 2);
    & li:first-child {
      margin-left: 10vw;
    }
  }

  .card-works {
    width: 70vw;
    height: auto;
    margin-right: space(3);
  }
  .card-works img {
    border-radius: 10px;
    box-shadow: 0 10px 24px -15px #000000, 5px 5px 15px 5px rgb(0 0 0 / 0%);
    transform: scale(1);
    transition: all .3s;
  }
  .card-works:hover img {
    transform: scale(1.02);
    transition: all .3s;
  }

  @include up(600){
    .works-container {
    }
    .card-works {
      width: 350px;
    }
  }
}