.button {
  //border: none;
  border: 2px solid var(--background-primary);
  color: white;
  background: none;
  padding: 12px 25px;
  min-width: 130px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0;
  &:hover {
    border-color: var(--background-primary);
  }
}

.buttonPrimary {
  border: 2px solid #fff;
  padding: 16px;
  margin: 16px;
  display: inline-block;
  border-radius: 6px;
}

.buttonPrimary:hover {
  background-color: #4CAF50;
  color: white;
}