@import "../mixins/mixins";

.footer {
  width: 100%;
  //background-color: var(--background-color);
}

.footerContainer {
  max-width: var(--container);
  margin: auto;
  padding: 0 var(--container-padding);
  @include up(600){
    display: flex;
  }
}

.footer .bloc1 {
  width: 40%;
}

.footer .bloc2 {
  width: 60%;
}