.footer {
  width: 100%;
  height: 100px;
  display: flex;
  background-color: var(--background-color);
}

.footer .col1 {
  width: 40%;
}
.footer .col2 {
  width: 60%;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}