@import "../mixins/mixins";

.header {
  margin: 30px auto 0;
  @include up($breakpoint-sm){
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--container);
    padding: 0 var(--container-padding);
    margin: 0 auto;
  }
}
.header .brand {
  font-size: 22px;
}
.header .headerNav .listItemLink {
  padding: 16px 0;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;

  &.isActive {
    color: #e76161;
  }
}

.burgerIcon {
  fill: var(--text-color);
  outline: none;
}
.closeIcon {
  fill: var(--text-color);
  outline: none;
}

@include down($breakpoint-sm){
  .header {
    margin: 0;
  }
  .headerNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2a2929;
    height: 100vh;
    transform: translateX(-100%);
    transition: all .3s;
    padding: 32px;
    border-bottom-right-radius: 50px;
    max-width: 80%;
    z-index: 100;
  }
  .headerNavOpen {
    transition: all .3s;
    transform: translateX(0);
  }
  .headerTop {
    padding: 16px;
  }
  .menuIcon {
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: rgba(61, 61, 61, 0.53);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border: none;
  }
}
@include up($breakpoint-sm){
  .header .menuIcon {
    display: none;
  }
  .header .headerNav .listItems {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
  }
  .header .headerNav .listItem {
    margin-left: 16px;
  }
  .header .headerNav .listItem:first-child {
    margin-left: 0;
  }
}