@import "../mixins/mixins";

.header {
  margin: 30px auto 0;
  @include up($breakpoint-sm){
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--container);
    padding: 0 var(--container-padding);
    margin: 0 auto;
  }
}

.header .brand {
  font-size: 22px;
}

.header .headerNav .listItemLink {
  padding: 16px 0;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;

  &.isActive {
    color: #e76161;
  }
}

@include up($breakpoint-sm){
  .header .headerNav .listItems {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
  }
  .header .headerNav .listItem {
    margin-left: 16px;
  }
  .header .headerNav .listItem:first-child {
    margin-left: 0;
  }
}