.searchInputContainer {
  .searchInput {
    padding: 10px;
    border: solid #f0f1f6 2px;
    border-radius: 5px;
  }
  .searchButton {
    background: #f0f1f6;
    border: 2px solid #f0f1f6;
    padding: 10px;
    margin-left: 5px;
    border-radius: 5px;
  }
}