.main {
  margin: 0 0 90px;
}

/**
 * Introduction
 */
.introduction {
  padding: var(--padding-section) 0;
}
.introduction .grid2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  //margin: 5rem 0;
}
.introduction .introductionContent {
  margin-right: 6em;
}
.introduction .introductionImage img {
  filter: grayscale(50);
  transition: filter .5s;
  border-radius: 30px;
}
.introduction .introductionImage img:hover {
  filter: grayscale(0);
  transition: filter .3s;
}

/**
 * technos & Tools
 */
.technoAndTools {
  padding: var(--padding-section) 0;
}
.technoAndTools .logoList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 760px;
  margin: auto;
}
.technoAndTools .logoList ul li {
  margin: 32px;
}
.technoAndTools .logoList .logo {
  object-fit: cover;
  filter: grayscale(100);
  transition: filter .3s;
}
.technoAndTools .logoList .logo:hover {
  object-fit: cover;
  filter: grayscale(0);
  transition: filter .3s;
}

/**
 * About
 */
.about {
  padding: var(--padding-section) 0;
}
.aboutContainer {
  max-width: 600px;
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

@media (min-width: 961px) {
  .introduction {
    max-width: 85%;
    margin: 0 auto;
  }
}
@media (max-width: 960px) {
  .introduction {
    margin: 3em 0;
  }
  .introduction .grid2 {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
  }
  .introduction .introductionImage {
    max-width: 80%;
    margin: 20px auto 0;
  }
  .introduction .introductionContent {
    margin-right: 0;
  }
}
