/**
 * Introduction
 */
.introduction {
  margin: 8em 0;
}
.introduction .grid2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin: 5rem 0;
}
.introduction .introductionContent {
  margin-right: 6em;
}
.introduction .introductionImage img {
  filter: grayscale(50);
  transition: filter .5s;
  border-radius: 30px;
}
.introduction .introductionImage img:hover {
  filter: grayscale(0);
  transition: filter .3s;
}

/**
 * technos & Tools
 */
.techoAndTools {
  margin-bottom: 32px;
}
.techoAndTools .logoList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 760px;
  margin: auto;
}
.techoAndTools .logoList ul li {
  margin: 32px;
}
.techoAndTools .logoList .logo {
  object-fit: cover;
  filter: grayscale(100);
  transition: filter .3s;
}
.techoAndTools .logoList .logo:hover {
  object-fit: cover;
  filter: grayscale(0);
  transition: filter .3s;
}

/**
 * Introduction
 */
.about {

}

@media (max-width: 960px) {
  .introduction {
    margin: 3em 0;
  }
  .introduction .grid2 {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
  }
  .introduction .introductionContent {
    margin-right: 0;
  }
}
