

/**
 * About
 */
.about {
  padding: var(--padding-section) 0;
}
.aboutContainer {
  max-width: 600px;
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

@media (min-width: 961px) {
  .introduction {
    max-width: 85%;
    margin: 0 auto;
  }
}

@include down(960px) {
  .introduction {
    margin: 3em 0;
  }
  .introduction {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0;
  }
  .introduction .introductionImage {
    max-width: 80%;
    margin: 20px auto 0;
  }
  .introduction .introductionContent {
    margin-right: 0;
  }
}
