/**
 * STYLESHEETS
 * author: Gaëtan Boyron
 * username: LeCuistotduWeb
 */

// Variables
// ==================
:root {
  --red: #f25353;
  --green: #178E56;
  --yellow: #F3AF2D;
  --blue: #0070C0;

  --color: #253c59;
  --color-light: #253c59;
  --color-accent: #f25353;

  --gap: 20px;
  --space: 8px;

  --border-color: #1C2A3A;

  --background: #f7ebd3;

  --card-bg-color: #253c59;
  --card-text-color: #fff;
  --card-border-color: #f5efe0;

  --btn-primary-color: #fff;
  --btn-primary-bg-color: #f25353;
  --btn-primary-border-color: #f25353;
  --btn-primary-bg-color-hover: #e85f5f;
  --btn-primary-border-color-hover: #e85f5f;

  --btn-secondary-color: #fff;
  --btn-secondary-bg-color: #253c59;
  --btn-secondary-border-color: #253c59;
  --btn-secondary-bg-color-hover: #304764;
  --btn-secondary-border-color-hover: #304764;

  --link-color: #f25353;
  --link-color-hover: #e85f5f;

  --breakpoint-xs:0;
  --breakpoint-sm: 600;
  --breakpoint-md: 900;
  --breakpoint-lg: 1200;
  --breakpoint-xl: 1536;

  --z-app-bar: 1100;
  --z-modal: 1300;
  --z-modal-overlay: calc(var(--z-modal) - 1 );
  --z-tooltip: 1500;
}

// Tools
// ==================
@import 'tools/functions';
@import 'tools/mixins';
@import 'tools/layout';
@import 'tools/typography';
@import 'tools/animations';

// Dark mode
// =============
@include dark {
  --color: #fff;
  --color-light: #a1adbc;
  --border: #1C2A3A;
  --background: #121E2A;
  --background-light: #172231;

  --card-bg-color: #1C2A3A;
  --card-text-color: #f7ebd3;

  --btn-secondary-color: #253c59;
  --btn-secondary-bg-color: #f7ebd3;
  --btn-secondary-border-color: #f7ebd3;
  --btn-secondary-bg-color-hover: #d2c4a4;
  --btn-secondary-border-color-hover: #d2c4a4;

  --link-color: #fff;
  --link-color-hover: #f25353;
}

// Reset
// ==================
@import 'bases/reset';

// Bases
// ==================
@import "bases/bases.scss";


// Modules
// ==================
@import "modules/cards";
@import "modules/settings-controls";
@import "modules/buttons";
@import "modules/switch";
@import "modules/header";
@import "modules/footer";
@import "modules/quotes";
@import "modules/experiences";
@import "modules/profile-svg.scss";
@import "modules/works-carousel";


// Pages
// ==================
@import "pages/homepage";